#picAndDescript{
    margin-top: 50px;
    height: 100px;
}

.btn{
    color: white
}
#hotelRoom{
    width: 450px;
    height: auto;
    border-radius: 25px;
}
br {
   display: block;
   margin: .01px 0;
}
.checked{
    color: rgb(255, 230, 0);
}
#bookButton{
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 1px;
    padding-bottom: 1px;
    color: #646464;
}
#Price{
    height: 150px;
    text-align: center;
}
#description{
    float: right;
    width: 700px;
    margin-left: 500px;
}
#QuickFacts{
    margin-top: 40px;
    font-weight: bold;
}
ul {
    margin: 0;
    padding-left:0px;
    color: white; 
  }
ul {
    list-style-type: none;
  }
ul > li {
    text-indent: -5px;
    font-weight: lighter;
}
ul > li:before {
    content: "-";
    text-indent: -5px;
}
#map{
    margin-top: 10px;
    border-radius: 50%;
    width: 100px;
    height: auto;
}
#mapDiv{
    margin-top: 40px; 
    font-weight: bold; 
    color: #646464; 
    text-align: center
}
#share{
    text-align: center;
    color: white;
    margin-top: 50px;
}
#reviews{
    background-color:lightgray;
    height: 200px;
    padding-left: 9px;
}
.tabs {
    padding-left: 0px;
    position: relative;   
    min-height: 200px; /* This part sucks */
    clear: both;
    margin: 25px 0;
  }
  .tab {
    float: left;
  }
  .tab label {
    background: darkgrey; 
    padding: 5px;
    width: 150px; 
    margin-left: -1px; 
    position: relative;
    left: 1px; 
    text-align: center;
  }
  .tab [type=radio] {
    display: none;   
  }
  .content {

    position: absolute;
    top: 28px;
    left: 0;
    background: white;
    right: 0;
    bottom: 0;
    padding: 20px;
  }
  [type=radio]:checked ~ label {
    background: white;
    border-bottom: 1px solid white;
    z-index: 2;
  }
  [type=radio]:checked ~ label ~ .content {
    z-index: 1;
  }
  .btn-success{
    margin-left: 100px; 
  }
  #writeReview{
      margin-left: 200px;
      margin-top: 30px;
  }