body{
    background-image: url("../Assets/landingBackground.png");
}

/* Main Content Styling */
.main-content{
    margin-top: 2.7%;
}

.main-content h1{
    color: white;
    font-size: 1.6em;
}

.main-content h2{
    color: white;
    font-weight: bold;
    font-size: 0.9em;
}
.main-content div{
    margin-left: 0px;
    margin-right: 0px;
}
/* Quick Search styling */
.search-criteria{
    padding-top: 4%;
}
.search-criteria h3{
    padding-top: 2%;
    color: white;
    font-size: 0.6em;
}
.search-criteria button{
    margin-right: 25%;
    float: right;
    background-color: #76B8FF;
    border-color: #76B8FF;
}
.date input{
    width: 90%;
    font-size: 0.7em;
}
.room-info{
    padding-right: 5%;
}
/* Modal Styling */
.modal-footer button{
    background-color: #76B8FF;
    color: white;
}
.modal-footer button:hover{
    background-color: rgb(46, 144, 248);
    color: white;
}
/* Experiences section styling */
.experiences-group{
    margin-top: 4%;
    background-color: white;
    border-radius: 12px;
}
.experience-listing{
    padding: 2% 2% 2% 2%;
    width: 100%;
}
.experience-img{
    border-radius: 4px;
    float: left;
}
.experience-listing h4{
    font-size: 1.3em;
    font-weight: 400;
    color: #646464;
    margin:0;
}
.experience-listing h5{
    font-size: 1.4em;
    color: #646464;
    margin:0;
}
.experience-listing p{
    font-size: .7em;
    color: #646464;
    margin:0;
}
.experience-listing h6{
    font-size: 1em;
    font-weight: bold;
    color: #646464;
    margin:0;
    text-align: right;
}
.experience-listing button{
    float:right;
    background-color: #76B8FF;
    border-color: #76B8FF;
}
.experience-info{
    padding-left: 1.5%;
    float: left;
}
.experience-pricing{
    position: relative;
    left:auto;
    right:auto;
    width: 45%;
}
/* Spotlight Section Styling */
.spotlight-section{
    margin-top:4%;
    background-image: url("../Assets/aruba.png");
    border-radius: 12px;
    width: 100%;
    height: 15%;
}
.spotlight-section h5{
    padding-top: 2%;
    text-align: center;
    font-weight: bold;
    font-size: 2em;
    color: white;
}
.spotlight-button{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 2%;
}
.spotlight-button button{
    background-color: #76B8FF;
    border-color: #76B8FF;
    width: 100px;
}